* {
  box-sizing: border-box;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
} 


html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: inline-flex;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: inline-block;
  color: rgb(43, 43, 124);
  box-sizing: border-box;
  background-color: lightsteelblue;
}

nav {
  padding: 10px;
  padding-right: 10%;
  text-align: center ;
  background-color: lightsteelblue;
}

.rounded {
  width: 100%;
  padding-bottom:5px;
  box-shadow: 5px;
  background-color: aquamarine;
}

p {
  background-color: crimson;
  border-style: none;
  background-color:cover;
}

.about-me {
  background-color: darkkhaki;
  border-style: none;
}

section {
  flex: content;
  flex-wrap: wrap;
}

aside {
  display: inline;
  width: 15%;
  padding: 5px;
  float: left;
  background-color: lightgray;
  border-right-style: solid;
  border-right-width: thick;
}

.cardMain {
  background-color: cornsilk;
}

.mainImg {
  display: block;
  width: 100%;
  height: auto;
  object-fit:scale-down;
  
}

.block {
  display: block;
}

.otherImgs {
  object-fit: cover;
  flex-direction: column;
  width: 50%;
  height: auto;
  flex-wrap: wrap;
  margin: none;
  padding: 10px;
  border: thin;
  display: flex;
}

h4 {
  display: inline;
}

div.workCard {
  display: flex;
  width: 50%;
  flex:100%;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
  box-sizing: border-box;
  margin: none;
}

footer {
  display: flex;
}

.contact {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex: 0 1 auto;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
  background-color:lightsteelblue;
}


/* Mobile */
@media screen and (max-width: 600px){
  .workCard {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .workCard:last-child {
    flex-grow: 1;
  }

  nav {
    width: 100%;
    display: inline-block;
  }

  ul {
    padding: 10px;
    width: 100%;
    display: block;
  }

  .asideHeader {
    font-size: 60%;
    padding: 5%;
  }

  aside {
    padding-right: 10px;
  }

  h3 {
    font-size: 50%;
  }

.contact {
  display: inline;
  }
}

/* Tablets/Laptops/Desktops */
@media screen and (min-width: 960px){
  header {
    width: 100%;
  }

  .workCard {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}