<<<<<<< HEAD
* {
  box-sizing: border-box;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
} 


html {
  font-size: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif
  line-height: 1.5;
}

main {
  display: inline-flex;
  box-sizing: border-box;
}

header {
  width: 65%;
  display: inline-block;
  color: rgb(43, 43, 124);
  box-sizing: border-box;
}

nav {
  float: right;
  display: inline;
  padding: 10px;
  padding-right: 10%;
  text-align: center ;
}

.rounded {
  width: 100%;
  padding-bottom:5px;
  box-shadow: 5px;
  background-color: aquamarine;
}

.about-me {
  padding: 10px;
  width:auto;
  float: right;
}

p {
  width:85%;
}

section {
  flex: content;
  flex-wrap: wrap;
}

aside {
  display: inline;
  width: 15%;
  padding: 5px;
  float: left;
  background-color: lightgray;
  border-right-style: solid;
  border-right-width: thick;
}

/* .portfolioAside {
  padding: 5px
} */

/* .portfolioSection {
  display: inline-flex;
} */

.asideHeader {
  padding: 5px;
}

/* section.cardMain {
  width:100%;
} */

.mainImg {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.block {
  display: block;
}

.otherImgs {
  object-fit: cover;
  flex-direction: row;
  width: 35%;
  height: auto;
  flex-wrap: wrap;
  margin: none;
  padding: 10px;
  border: thin;
}

h4 {
  display: inline;
}

/* figure {
  display: flex;
  margin: none;
  width: 40%;
} */

.card {
  display: inline;
  width: 100%;
}

section.workCard {
  display: flex;
  flex:100%;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
  box-sizing: border-box;
}

/* img {
  width:90%;
  height: auto;
} */

footer {
  display: flex;
}

.contact {
  display: block;
}

li {
  display: flex;
}


/* Mobile */
@media screen and (max-width: 600px){
  .workCard {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .workCard:last-child {
    flex-grow: 1;
  }

  nav {
    float: left;
    width: 100%;
    display: inline-block;
  }

  ul {
    padding: 10px;
    width: 100%;
    display: block;
  }

  .asideHeader {
    font-size: 70%;
    padding: 5%;
  }

  aside {
    padding-right: 10px;
  }

.contact {
  display: inline;
  }
}

/* Tablets/Laptops/Desktops */
@media screen and (min-width: 960px){
  header {
    width: 65%;
  }

  .workCard {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
=======




/* Mobile */
@media screen and (min-width: 620px){

}

/* Tablets */
@media screen and (min-width: 960px){

  body{
    font-size: 18px;
  }

}

/* Desktop */
@media screen and (min-width: 1200px){
>>>>>>> 527e78ea1f578255c12cd239025cc5682b90270f
}